<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Choice Column -->
    <ng-container matColumnDef="option">
        <th mat-header-cell *matHeaderCellDef> Food Option </th>
        <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onUpdate()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDelete()">
                <mat-icon color="warn">delete_outline</mat-icon>
            </button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>