<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>PICK-4-ME</mat-card-title>
            <span>
                <button mat-icon-button (click)="onOpenChoiceList()">
                    <mat-icon>view_list</mat-icon>
                </button>
                <button mat-icon-button (click)="onAddChoice()">
                    <mat-icon>add</mat-icon>
                </button>
            </span>
        </mat-card-header>
        <ng-container>
            <mat-card-content>
                {{ pick }}
            </mat-card-content>
        </ng-container>
        <mat-card-actions>
            <button mat-stroked-button (click)="onPick()" >PICK-4-ME!</button>
        </mat-card-actions>
    </mat-card>
</div>