.container {
    display: grid;
    justify-items: center;
    height: 100vh;
    align-content: center;
}

mat-card {
    width: 50%;
}

mat-card-header {
    justify-content: space-between;
}

mat-card-content {
    display: grid;
    justify-content: center;
    font-size: 100px;
    align-content: center;
    min-height: 600px;
    text-align: center;
}

mat-card-actions {
    justify-content: center;
}