.container {
    display: grid;
    justify-items: center;
    height: 100vh;
    align-content: center;
}

mat-card {
    width: 50%;
}

mat-card-header {
    justify-content: space-between;
}

mat-card-content {
    display: grid;
    justify-content: center;
    font-size: 100px;
    align-content: center;
    min-height: 400px;
    text-align: center;
}

mat-card-actions {
    justify-content: center;
}


.main-container {
    background-color:aquamarine;
    height: auto;
    padding: 10px;
}

.header {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    display: inline-block;
}